/* стили для инпут  */
.inputTaskWrapper {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(3px);
  width: 400px;
  height: 330px;
  background: #f6f5fd42;
  border-radius: 100px; /* начинаем с круга */
  
  /* Анимация */
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.inputTaskWrapper.open {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 20px;
}

/* Инпут задача  */
.inputTask {
  width: 300px;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
}

/* Инпут Заголовок  */
.inputTaskTitle {
  width: 300px;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

/* кнопка добавить задачу  */
.btnAddInput {
  width: 40px;
  height: 40%;
  position: absolute;
  /* right: -50px; */
  bottom: -40px;
}

/*  стили для кнопки вывода инпут  */
.btntaskWrapper {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 5%;
}

/* стили для кнопок radio  */
.radioWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.inputRadio {
  width: 20px;
  height: 20px;
}

/* стили label  */
.labelRadio {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* стили для выбора даты и время  */

.labelDeadLine {
  font-size: 20px;
  margin-right: 10px;
  display: flex;
}

.inputDeadLine {
  font-size: 20px;
  cursor: pointer;
}


.btnAdd {
  width: 70px;
  height: 70px;
  transition: all 0.3s ease;
}
.btnAdd.rotated {
  transform: rotate(135deg); /* превращается в крестик */
}