.taskTitke {
  font-size: 34px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.taskWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 1000px;
  width: 100%;
  height: 87vh;
  border-radius: 20px;
  margin: 0 10px;
}

.task {
  width: 600px;
  min-height: 130px;
  border-radius: 0 20px 20px 0;
  border: 1px solid #000;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-wrap: anywhere;
  position: relative;
  margin-bottom: 20px;
}

.task::after {
  content: '';
  width: 5px;
  min-height: 130px;
  background-color: #4F4CA5;
  position: absolute;
  left: -4px;
  top: -1px;
}

/* время выполнения  */
.Totime {
  position: absolute;
  left: -70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  gap: 5px;
  transform: translateY(-50%);
  top: 50%;
}

.time {
  font-size: 24px;
  font-weight: bold;
}


.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.taskText {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

/* стили кнопок для удаления и выполнено  */

.btnWrapper {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  position: absolute;
  right: -150px;
  top: 50%;
  transform: translate(-50%, -50%);
  /* transition: all 0.5s ease; */
}

.btnWrapper:has(button:only-child) {
  right: -67px;

}


.btnDone {
  width: 40px;
  height: 40px;

}

.btnDell {
  width: 40px;
  height: 40px;

}


@media (max-width: 1600px) {
  .taskWrapper {
    max-width: 750px;
  }

  .task {
    width: 500px;
  }

  .taskTitke {
    font-size: 30px;
  }
}

@media (max-width: 1420px) {
  .taskWrapper {
    max-width: 600px;
  }

  .task {
    width: 400px;
  }

  .btnWrapper {
    flex-direction: column;
    right: -67px;
  }

  .Totime {
    font-size: 16px;
  }
}

@media (max-width: 1010px) {
  .taskWrapper {
    max-width: 550px;
  }
}

@media (max-width: 865px) {
  .taskWrapper {
    max-width: 450px;
  }

  .taskTitke {
    font-size: 25px;
    margin: 0 5px;
  }

  .task {
    width: 300px;
    min-height: 90px;
  }

  .task::after {
    min-height: 90px;
  }

  .taskText {
    font-size: 18px;
  }

  .taskTitke {
    font-size: 18px;
  }

  .btnDell {
    width: 30px;
    height: 30px;
  }

  .btnDone {
    width: 30px;
    height: 30px;
  }

  .btnWrapper {
    right: -50px;
  }

  .btnWrapper:has(button:only-child) {
    right: -50px;
  }

  .time {
    font-size: 16px;
  }

  .Totime {
    left: -50px;
  }

  .taskTitke {
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .taskWrapper {
    max-width: 350px;
  }

  .task {
    margin-bottom: 50px;
    width: 200px;
  }

  .task::after {
    content: none;
  }

  .btnWrapper {
    flex-direction: row;
    right: 20px;
    top: 125%;
  }

  .btnWrapper:has(button:only-child) {
    left: 80px;
  }
}

@media (max-width: 480px) {
  .taskWrapper {
    max-width: 280px;
  }

  .Totime {
    font-size: 16px;
    left: -40px;
  }
}

@media (max-width: 410px) {
  .taskWrapper {
    max-width: 260px;
  }

  .Totime {
    font-size: 14px;
    left: -30px;
  }

  .time {
    font-size: 12px;
  }
}