.RegistrationFormWrapper {
  max-width: 350px;
  width: 100%;
  height: 300px;
  margin-top: 30px;
  background: #fff;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;


}

.form {
  display: flex;
  flex-direction: column;
  animation: slideIn 0.2s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    /* transform: translateX(200px); */
  }

  to {
    opacity: 1;
    /* transform: translateX(0); */
  }
}



.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.spanChoice {
  font-size: 22px;
  cursor: pointer;
}

.name {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 15px;
}

.email {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 15px;
}

.passwordWrapper {
  position: relative;
}

.pasword {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 15px;
}

/* скрыть пароль  */
.showPassword {
  position: absolute;
  right: 5px;
  bottom: 26px;
  font-size: 25px;
}

/* вход регистрация  */

.submitButton {
  font-size: 20px;
  margin-top: 10px;
}

/* ошибки   */

.errors {
  border: 1px solid red;
}

.valid {
  border: 1px solid green;
}

/* блок ошибки  */
.submitError {
  color: #721c24;
  position: absolute;
  top: 300px;
}


@media (max-width: 1600px) {
  .name {
    width: 270px;
    height: 40px;
    font-size: 16px;
  }

  .email {
    width: 270px;
    height: 40px;
    font-size: 16px;
  }

  .pasword {
    width: 270px;
    height: 40px;
    font-size: 16px;
  }

  .showPassword {
    font-size: 18px;
  }

  .spanChoice {
    font-size: 20px;
  }
}

@media (max-width: 1180px) {
  .form {
    align-items: center;
  }
  .choice {
    flex-direction: column;
    gap: 10px;
  }

  .name {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }

  .email {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }

  .pasword {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }

  .spanChoice {
    font-size: 18px;
  }

  .showPassword {
    font-size: 16px;
  }

  .submitButton {
    font-size: 17px;
    margin-bottom: 20px;
  }
}
@media (max-width: 860px) {
  .RegistrationFormWrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 160px;
  }
}