.calendarWrapper {
  max-width: 1000px;
  width: 100%;
  height: 150px;
  margin: 20px 10px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.calendarWrapper::-webkit-scrollbar {
  height: 3px;
}

.calendarWrapper::-webkit-scrollbar-track {
  border-radius: 20px;
}

.calendarWrapper::-webkit-scrollbar-thumb {
  background: #4E4EA8;
  border-radius: 20px;
}

.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 5px;
  cursor: pointer;
  min-width: 70px;
  height: 90px;
  border-radius: 20px;
}

.days {
  font-size: 20px;
  opacity: 0.8;
  color: gray;
}

.data {
  font-size: 24px;
  color: black;
}

/* точка и выделение даты  */


.selected {
  background: #4E4EA8;
  color: white;
}

.taskDot {
  position: absolute;
  bottom: -12px;
  transform: translateX(-50%, -50%);
  width: 8px;
  height: 8px;
  background: #dc3545;
  border-radius: 50%;
}


/* адаптив  */

@media (max-width: 1600px) {
  .calendarWrapper {
    max-width: 750px;
  }
}

@media (max-width: 1420px) {
  .calendarWrapper {
    max-width: 600px;
  }
}

@media (max-width: 1010px) {
  .calendarWrapper {
    max-width: 550px;
  }
}

@media (max-width: 865px) {
  .calendarWrapper {
    max-width: 450px;
    height: 110px;
  }

  .calendar {
    min-width: 50px;
    height: 60px;
  }

  .days {
    font-size: 16px;
  }

  .data {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
    .calendarWrapper {
    max-width: 350px;
    height: 110px;
  }
}

@media (max-width: 480px) {
    .calendarWrapper {
    max-width: 280px;
    height: 110px;
  }
}
@media (max-width: 410px) {
  .calendarWrapper {
    max-width: 260px;
  }
}