.offPersonWrapper {
  max-width: 350px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  background-color: white;
}

.off {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #9698D1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  font-weight: bold;
  gap: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.off.active {
  box-shadow: 0 6px 14px #9698D1;
}

.person {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #F5B0B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  font-weight: bold;
  gap: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.person.active {
  box-shadow: 0 6px 14px #F5B0B5;
}

.text {
  font-size: 20px;
}

@media (max-width: 1600px) {
  .offPersonWrapper {
    max-width: 300px;
    gap: 10px;
  }

  .person {
    width: 130px;
    height: 130px;
  }

  .off {
    width: 130px;
    height: 130px;
  }

  .text {
  font-size: 18px;
}
}

@media (max-width: 1245px) {
  .offPersonWrapper {
    align-items: center;
    flex-direction: column;
    justify-content: start;
  }
  .person {
    margin-top: 10%;
  }
}

@media (max-width: 865px) {
  .person {
    width: 70px;
    height: 70px;
    font-size: 25px;
    gap: 0;
  }

  .off {
    width: 70px;
    height: 70px;
    font-size: 25px;
    gap: 5px;
  }

  .text {
  font-size: 10px;
}
}

@media (max-width: 690px) {
  .offPersonWrapper {
    max-width: 98%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
    .person {
    margin: 0;
  }
}
@media (max-width: 680px)  {
  .person {
    width: 110px;
  }
  .off {
    width: 110px;
  }
}
