.offPersonWrapper {
  width: 350px;
  height: 900px;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  background-color: white;
}

.off {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #9698D1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  font-weight: bold;
  gap: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.off.active {
  box-shadow: 0 6px 14px #9698D1;
}

.person {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #F5B0B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  font-weight: bold;
  gap: 15px;
  cursor: pointer;
    transition: all 0.3s ease;
}
.person.active {
  box-shadow: 0 6px 14px #F5B0B5;
}

.text {
  font-size: 20px;
}